.img-rounded{
    border: 2px solid white;
    border-radius: 50%;
    width: 2rem;
    padding: 0rem;
}

#dropdown-pic{
    border: 2px solid white;
    border-radius: 50%;
    width: 30%;
    padding: 0rem;
}